In [ ]:
import pandas as pd

# Step 1: Use the appropriate pandas method to read the titanic data into your python file 
titanic_data = pd.read_csv("titanic.csv")
titanic_data

In [ ]:
# Step 2(a): Use the pandas method that reads the first 25 lines of the dataset
first_25_passengers = titanic_data.head(25)
#first_25_passengers = titanic_data.iloc[0:25]
first_25_passengers

In [ ]:
# Step 2(b): Use the pandas method thats reads the last 25 lines of the dataset
last_25_passengers = titanic_data.tail(25)
last_25_passengers

In [10]:
# Step 3: Use the pandas method that only tells us the number of rows and columns in our data
titanic_shape = titanic_data.shape
titanic_shape

(891, 12)

In [ ]:
# Step 4: Describe the titanic data
titanic_description = titanic_data.describe()
titanic_description

In [ ]:
# Step 5(a): How many passengers were between the ages of 0 to 16? 

children = titanic_data[(titanic_data['Age'] <= 16) & (titanic_data['Age'] >=0)]
children

In [ ]:
# Step 5(b): How many passengers were between the ages of 17 to 25?
young_adults = titanic_data[(titanic_data['Age'] <= 25) & (titanic_data['Age'] >=17)]
young_adults

In [ ]:
# Step 5(c): How many passengers were between the ages of 26 to 40?
adults = titanic_data[(titanic_data['Age'] <= 40) & (titanic_data['Age'] >=26)]
adults

In [ ]:
# Step 5(d): How many passengers were between the ages of 41 to 59?
mature_adults = titanic_data[(titanic_data['Age'] <= 59) & (titanic_data['Age'] >=41)]
mature_adults

In [ ]:
# Step 5(e): How many passengers were 60 or older?
seniors = titanic_data[titanic_data['Age'] >=60]
seniors

In [57]:
# Step 6: How many values are missing from the "age" column
#missing_ages = len(titanic_data[titanic_data['Age'].isnull()])
missing_ages = titanic_data['Age'].isnull().sum()
#missing_ages = len(titanic_data) - titanic_data['Age'].count()
#missing_ages = titanic_data['Age'].isna()
#missing_ages = titanic_data[titanic_data['Age'].isna()] if want values add len
#or missing_ages = titanic_datacount()['Age]
missing_ages

177

In [ ]:
# Step 7: List out all the available passengers' ages
#age_list =  titanic_data['Age'].unique()
#if want to remove unavalaible ages: 
age_list =  titanic_data['Age'].dropna().unique()
age_list

In [ ]:
# Step 8: Filter the DataFrame to find all passengers who boarded the Titanic at Port Cherbourg
cherbourg_passengers = titanic_data[titanic_data['Embarked'] == 'C']
cherbourg_passengers

In [49]:
# Step 9(a): Find the average age of all female passengers
avg_fem_age = titanic_data[titanic_data['Sex']== 'female']['Age'].mean()
avg_fem_age

27.915708812260537

In [51]:
# Step 9(b): Find the average age of all male passengers
avg_male_age = titanic_data[titanic_data['Sex']== 'male']['Age'].mean()
avg_male_age

30.72664459161148

In [54]:
# Step 10(a): Find the survival percentage of passengers in group "C"
cherbourg_survival = titanic_data[titanic_data['Embarked'] == 'C']['Survived'].sum()
total_cherbourgh = len(titanic_data[titanic_data['Embarked'] == 'C'])
cherbourg_survival/total_cherbourgh *100

55.35714285714286

In [55]:
# Step 10(b): Find the survival percentage of passengers in group "Q"
queenstown_survival = titanic_data[titanic_data['Embarked'] == 'Q']['Survived'].sum()
total_queenstown = len(titanic_data[titanic_data['Embarked'] == 'Q'])
queenstown_survival/ total_queenstown *100

38.961038961038966

In [58]:
# Step 10(c): Find the survival percentage of passengers in group "S"
south_survival = titanic_data[titanic_data['Embarked'] == 'S']['Survived'].sum()
total_south = len(titanic_data[titanic_data['Embarked'] == 'S'])
south_survival/ total_south *100

33.69565217391305